<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quang Anh</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="img-1">
            <div class="background">
                <img src="https://cf.shopee.vn/file/e1920809148070cfc7019c70cef051d1" alt="Image" class="image">
            </div>
            <div class="overlay"></div>
            <div class="content">
                <h3 class="title">3 Chú Gấu Bông</h3>
                <div class="text">
                    <h3>Giá: 3$</h3>
                    <h3> Xuất xứ : VietNam</h3>
                </div>
                <button class="button">Chi tiết</button>
            </div>
        </div>
        <div class="img-2">
            <div class="background">
                <img src="https://i.pinimg.com/564x/51/94/38/51943860e8847dbb446a0914ca486807.jpg" alt="Image"
                    class="image">
            </div>
            <div class="overlay"></div>
            <div class="content">
                <h3 class="title">RuBikRuBik</h3>
                <div class="text">
                    <h3>Giá: 3$</h3>
                    <h3> Xuất xứ : USA</h3>
                </div>
                <button class="button">Chi tiết</button>
            </div>
        </div>
        <div class="img-3">
            <div class="background">
                <img src="https://vn-live.slatic.net/p/218183c10d6360926a02603023f63a8c.jpg" alt="Image" class="image">
            </div>
            <div class="overlay"></div>
            <div class="content">
                <h3 class="title">3 Bộ Đồ Chơi LeGoLeGo</h3>
                <div class="text">
                    <h3>Giá: 3$</h3>
                    <h3> Xuất xứ : Singapore</h3>
                </div>
                <button class="button">Chi tiết</button>
            </div>
        </div>
    </div>

</body>

</html>